<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />
    <script src="/assets/lib/viewporter/viewporter.js"></script>

    <title>Radiodan Remote Control</title>
    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="/assets/lib/owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="/assets/lib/owl-carousel/owl.theme.css">
  </head>

  <body>
    <div id="viewporter">
      <div data-ui-container>
        <div class="splash">
          <i></i>
          <span>Loading&hellip;</span>
        </div>
      </div>
    </div><!-- #viewporter -->

    <script>
      window.splashStartTime = Date.now();
      console.log('Rendering splash', splashStartTime);
    </script>

    {% include "partials/masthead.html"  %}
    {% include "partials/playout.html"   %}
    {% include "partials/metadata.html"  %}
    {% include "partials/services.html"  %}
    {% include "partials/progress.html"  %}
    {% include "partials/avoider.html"   %}
    {% include "partials/announcer.html" %}
    {% include "partials/error.html" %}
    {% include "partials/controls.html" %}
    {% include "partials/standby.html" %}
    {% include "partials/radio-settings.html" %}
    {% include "partials/programme.html" %}

    <script id="mainTmpl" data-ui-template type="text/ractive">
      {% raw %}
        <div class="{{power.isOn ? 'is-on' : 'is-off' }} is-{{ mainView }}">
          <!-- App masthead -->
          <Masthead
            isOn="{{power.isOn}}" />

          <!-- Error message -->
          {{> errorTmpl }}

          <!-- Main app views -->
          {{#power.isOn}}
            <Controls
              audio="{{audio}}"
              current="{{current}}"
              services="{{services}}"
              nowAndNext="{{nowAndNext}}"
              nowPlaying="{{nowPlaying}}"

              avoider="{{avoider}}"
              announcer="{{announcer}}" />
          {{/power.isOn}}
          {{^power.isOn}}
            <Standby />
          {{/power.isOn}}

          <RadioSettings
            settings="{{ settings }}"
            services="{{ services }}" />
        </div>
      {% endraw %}
    </script>
    <script src="assets/js/app.{% if !isDebug %}min.{% endif %}js"></script>
  </body>
</html>
