<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0" />
    <script src="/assets/js/lib/viewporter.js"></script>

    <title>Radiodan Remote Control</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>

  <body>
    <div id="viewporter">

    <div data-ui-container>
      <div class="splash">
        <i></i>
        <span>Loading&hellip;</span>
      </div>
    </div>

    <script>
      window.splashStartTime = Date.now();
      console.log('Rendering splash', splashStartTime);
    </script>

    {% include "partials/masthead.html"  %}
    {% include "partials/playout.html"   %}
    {% include "partials/volume.html"    %}
    {% include "partials/metadata.html"  %}
    {% include "partials/services.html"  %}
    {% include "partials/progress.html"  %}
    {% include "partials/avoider.html"   %}
    {% include "partials/announcer.html" %}
    {% include "partials/error.html" %}
    {% include "partials/standby.html" %}

    <script id="mainTmpl" data-ui-template type="text/ractive">
      {% raw %}
        <section id="masthead" class="layout panel">
          {{>mastheadTmpl}}
        </section>

        {{^radio.power.isOn}}
          {{>standbyTmpl}}
        {{/radio.power.isOn}}

        {{#ui.error}}
        <section id="error" class="panel">
          {{>errorTmpl}}
        </section>
        {{/ui.error}}

        {{#radio.power.isOn}}
          {{^ui.panels.settings.isOpen}}
          <section id="playout" class="layout panel">
            {{>playoutTmpl}}
          </section>

          <section id="volume" class="layout panel {{ ui.panels.volume.isOpen ? '' : 'is-closed' }}">
            {{>volumeTmpl}}
          </section>

          <section  id="services"
                    class="layout panel services {{ ui.panels.services.isOpen ? '' : 'is-closed' }}">
            {{>servicesTmpl}}
          </section>

          <section id="metadata" class="layout">
            <div class="lo-single metadata-panel">
              {{>metadataTmpl}}
            </div>
          </section>

          <section id="magic">
            <ul class="magic">
              {{#radio.magic}}
                {{>avoiderTempl}}
                {{>announcerTempl}}
              {{/radio.magic}}
            </ul>
          </section>
          {{/ui.panels.settings.isOpen}}

          {{#ui.panels.settings.isOpen}}
          <section id="settings">
            <h2>Settings</h2>
          </section>
          {{/ui.panels.settings.isOpen}}
        {{/radio.power.isOn}}
      {% endraw %}
    </script>
    </div><!-- #viewporter -->
    <script src="assets/js/app.{% if isDebug %}debug.{% endif %}js"></script>
  </body>
</html>
