<!DOCTYPE html>
<html>
  <head>
    <title>Radiodan Remote Control</title>
    <link rel="stylesheet" href="assets/css/lib/pure-min.css">
    <link rel="stylesheet" href="assets/css/modules/layout.css">
    <link rel="stylesheet" href="assets/css/modules/panel.css">
    <link rel="stylesheet" href="assets/css/modules/current.css">
    <link rel="stylesheet" href="assets/css/modules/masthead.css">
    <link rel="stylesheet" href="assets/css/modules/metadata.css">
    <link rel="stylesheet" href="assets/css/modules/magic.css">
    <link rel="stylesheet" href="assets/css/modules/track.css">
    <link rel="stylesheet" href="assets/css/modules/settings.css">
    <link rel="stylesheet" href="assets/css/app.css">
  </head>

  <body>
    <script id="mastheadTmpl" data-ui-template type="text/ractive">
    {% raw %}
    {{#radio.power}}
    <p class="lo-left {{ isOn ? 'is-on' : 'is-off' }}">
      <a  on-tap="power"
          href="/power">Turn {{ isOn ? 'Off' : 'On' }}</a>
    </p>
    {{/radio.power}}
    <p class="lo-center">
      <span>Radiodan icon</span>
    </p>
    <p class="lo-right {{ isOn ? 'is-on' : 'is-off' }}">
      <a on-tap="settings-button"
         class="setup-btn">
         <span class="sb-inner">
          setup
        </span>
      </a>
    </p>
    {% endraw %}
    </script>

    <script id="playoutTmpl" data-ui-template type="text/ractive">
    {% raw %}
    <div class="lo-left current-panel">
      <a on-tap="stations-button"
         class="ct-btn">
        {{#radio.current.logos.active}}
          <img class="ct-logo"
               src="{{radio.current.logos.active}}" />
        {{/radio.current.logos.active}}

        <span class="ct-indicator">
          {{ ui.panels.services.isOpen ? '⬇' : '⬆' }}
        </span>

        {{^radio.current}}
          <span class="ct-title">No current station</span>
        {{/radio.current}}
        {{#radio.current}}
          <span class="ct-title">{{title}}</span>
        {{/radio.current}}
      </a>
    </div>

    <div class="lo-right">
      {{ ui.panels.volume.isOpen ? '⬇' : '⬆' }}
      <a on-tap="volume-button">Volume</a>
    </div>
    {% endraw %}
    </script>

    <script id="volumeTmpl" data-ui-template type="text/ractive">
    {% raw %}
    {{#radio.audio}}
    <div class="lo-center">
      <input type="range"
             on-change="volume"
             min="0" max="100" value="{{volume}}" />
    </div>
    {{/radio.audio}}
    {% endraw %}
    </script>

    <script id="metadataTmpl" data-ui-template type="text/ractive">
    {% raw %}
    {{#radio.current}}
      {{#first(nowAndNext)}}
      <div class="metadata">
        {{#image}}
          <img class="md-img"
               src="{{ imageUrl(templateUrl, '272x153') }}" />
        {{/image}}
        <p class="md-primary">{{ brand }}</p>
        <p class="md-secondary">{{ episode }}</p>
      </div>
      {{/nowAndNext}}
      {{#nowPlaying}}
      <div class="metadata">
        <p class="md-primary">{{ title }}</p>
        <p class="md-secondary">{{ artist }}</p>
      </div>
      <a class="track" on-tap="track-display">
        <i></i>
        <span>Track</span>
      </a>
      {{/nowPlaying}}

    {{/radio.current}}
    {% endraw %}
    </script>

    <script id="servicesTmpl" data-ui-template type="text/ractive">
    {% raw %}
    <ul class="service-list">
    {{#services}}
      <li on-tap="service"
          class="service-item {{ radio.current.id === id ? 'is-playing' : '' }}">
        <a  href="/radio/service/{{ id }}">
          <img src="{{ radio.current.id === id ? logos.active : logos.inactive }}" alt="{{ title }}" />
        </a>
      </li>
    {{/services}}
    </ul>
    {% endraw %}
    </script>

    <script id="mainTmpl" data-ui-template type="text/ractive">
      {% raw %}
        <section id="masthead" class="layout panel">
          {{>mastheadTmpl}}
        </section>

        {{^ui.panels.settings.isOpen}}
        <section id="playout" class="layout panel">
          {{>playoutTmpl}}
        </section>

        <section id="volume" class="layout panel {{ ui.panels.volume.isOpen ? '' : 'is-closed' }}">
          {{>volumeTmpl}}
        </section>

        <section  id="services"
                  class="layout panel services {{ ui.panels.services.isOpen ? '' : 'is-closed' }}">
          {{>servicesTmpl}}
        </section>

        <section id="metadata" class="layout">
          <div class="lo-single metadata-panel">
            {{>metadataTmpl}}
          </div>
        </section>

        <section id="magic">
          <ul>
            {{#radio.magic}}
              {{#avoider}}
              <li class="mg-item">
                <div on-tap="avoid">
                  {{^isAvoiding}}
                  <h2 class="mg-name">Avoider</h2>
                  {{/isAvoiding}}

                  {{^isAvoiding}}
                  <i class="mg-icon">Avoider icon</i>
                  {{/isAvoiding}}
                  {{#isAvoiding}}
                  <i class="mg-icon">Avoiding</i>
                  {{/isAvoiding}}
                </div>

                <div on-tap="avoid-settings">
                  {{^isAvoiding}}
                  <div class="settings">
                    <i></i>
                    <span>Avoid settings</span>
                  </div>
                  {{/isAvoiding}}
                </div>
              </li>
              {{/avoider}}
            {{/radio.magic}}
          </ul>
        </section>
        {{/ui.panels.settings.isOpen}}

        {{#ui.panels.settings.isOpen}}
        <section id="settings">
          <h2>Settings</h2>
          {{#radio.magic.avoider.settings}}
          <div>
            <h2>Avoider</h2>
            Avoid:
              <label><input type='radio' name='{{avoidType}}' value='tracks'> tracks</label>
              <label><input type='radio' name='{{avoidType}}' value='programmes'> programmes</label>
            with:
              <label><input type='radio' name='{{serviceId}}' value='radio1'> Radio 1</label>
              <label><input type='radio' name='{{serviceId}}' value='radio4'> Radio 4</label>
              <label><input type='radio' name='{{serviceId}}' value='6music'> Radio 6 Music</label>
          </div>
          {{/radio.magic.avoider.settings}}
        </section>
        {{/ui.panels.settings.isOpen}}
      {% endraw %}
    </script>

    <div data-ui-container>
    </div>

    <script src="assets/js/app.{% if isDebug %}debug.{% endif %}js"></script>
  </body>
</html>
