.layout {
  position: relative;
  text-align: center;
}

.lo-left,
.lo-center,
.lo-right {
  position: absolute;
  height: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-align: left;
}

.lo-left {
  left: 16px;
}

.lo-center {
  left: 20%;
  right: 20%;
  text-align: center;
}

.lo-right {
  right: 16px;
}

.lo-single {
  margin-left: 16px;
  margin-right: 16px;
  text-align: left;
}
