.mg-item {
  list-style: none;
  text-align: center;
}

.mg-name {
  font-size: 22px;
  text-transform: lowercase;
}

.mg-button {
  display: inline-block;
  width: 145px;
  height: 145px;
}

.mg-icon {
  display: inline-block;
}

.button-circle {
  fill: #bcbbbb;
}

.button-progress {
  fill: #e68724;
}
