.masthead {
  background-color: #fff;
}

.setup-btn {
  display: inline-block;
  height: inherit;
  width: 60px;
  background: none;
  border: none;
  color: #666;
}

.sb-inner {
  display: inline-block;
  font-size: 12px;
}

.sb-inner > i {
  display: inline-block;
  width: 27px;
  height: 20px;
  background: transparent url('../img/radio.svg') no-repeat;
}

.radiodan-logo img {
  display: inline-block;
  height: 100%;
  padding: 16px;
}

/*
  Shutdown dialog
*/
#shutdown {
  width: 100%;
  border: none;
}

#shutdown h2 {
  margin: 0;
}

#shutdown + .backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}