.metadata-panel {
  padding-top: 16px;
  padding-bottom: 16px;
}

.metadata {
  position: relative;
}

.md-primary,
.md-secondary {
  margin: 0;
  padding: 0;
}

.md-primary {
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 6px;
  color: #16a0e8;
}

.md-secondary {
  font-size: 14px;
  padding-bottom: 11px;
}

.md-img {
  float: right;
  width: 50%;
  max-width: 272px;
}

.track {
  display: inline-block;
  height: 25px;
  line-height: 25px;
}

.track > * {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
}

.track > i {
  width: 25px;
  height: 25px;
  background: transparent url('../../img/track.svg');
}

.track > span {
  padding-top: 3px;
}
