.panel {
  overflow: hidden;
  border-bottom: 1px solid red;
  transition: height 0.4s ease-in-out;
}

.panel.is-open {

}

.panel.is-closed {
  height: 0 !important;
  border-bottom: 1px solid transparent;
}
