.volume-button {
  display: inline-block;
  height: 100%;
  color: #26a2e7;
}

.volume-button i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: transparent url('../img/volume.svg') no-repeat;
  vertical-align: middle;
}
