<script id="avoiderTmpl" data-ui-template type="text/ractive">
{% raw %}
<li class="mg-item avoider {{ state.isAvoiding ? 'is-active' : 'is-inactive' }}">
  <div>
    <h2 class="mg-name">
    {{^state.isAvoiding}}Avoider{{/state.isAvoiding}}
    {{#timeLeft}}Resume in:{{/timeLeft}}
    </h2>

    <div class="mg-button" on-tap="avoid">
      <CircularProgress percentThrough={{percentThrough}} />

      <div class="mg-label">
        {{^timeLeft}}<i class="mg-icon"></i>{{/timeLeft}}
        {{#timeLeft}}<span>{{ timeLeft }}</span>{{/timeLeft}}
      </div>
    </div>
  </div>

  <div on-tap="settings">
    {{^state.isAvoiding}}
    <div class="settings">
      <i></i>
      <span>Avoid settings</span>
    </div>
    {{/state.isAvoiding}}
  </div>

  {{#settingsOpen}}
    <div class="mg-settings">
      <h2>What would you like to avoid?</h2>
      <p>
        <label>
          <input type='radio' name='{{state.settings.avoidType}}' value='tracks'>
          The current track
        </label>
      </p>
      <p>
        <label>
          <input type='radio' name='{{state.settings.avoidType}}' value='programmes'>
          The entire programme
        </label>
      </p>
      <h3>Avoid with</h3>
      <ServicesList 
        activeServiceId="{{ state.settings.serviceId }}"
        services="{{ services }}"
        on-selected="avoid-service-setting" />
    </div>
  {{/settingsOpen}}
</li>
{% endraw %}
</script>
