<script id="avoiderTmpl" data-ui-template type="text/ractive">
{% raw %}
Timlife {{timeLeft}}
<li class="mg-item avoider {{ state.isAvoiding ? 'is-active' : 'is-inactive' }}">
  <div>
    <h2 class="mg-name">
    {{^state.isAvoiding}}Avoider{{/state.isAvoiding}}
    {{#timeLeft}}Resume in:{{/timeLeft}}
    </h2>

    <div class="mg-button" on-tap="avoid">
      {{#ui.magic.avoider}}
        <CircularProgress>
      {{/ui.magic.avoider}}

      <div class="mg-label">
        {{^timeLeft}}<i class="mg-icon"></i>{{/timeLeft}}
        {{#timeLeft}}<span>{{ . }}</span>{{/timeLeft}}
      </div>
    </div>
  </div>

  <div on-tap="avoid-settings">
    {{^isAvoiding}}
    <div class="settings">
      <i></i>
      <span>Avoid settings</span>
    </div>
    {{/isAvoiding}}
  </div>
</li>
{% endraw %}
</script>
