<script id="controlsTmpl" data-ui-template type="text/ractive">
{% raw %}
<div id="controls">
  <section id="playout" class="layout panel">
    <Playout volume="{{ audio.volume }}"
             radio="{{ radio }}" 
             on-services-panel-toggle="services-panel-toggle"
             on-volume-panel-toggle="volume-panel-toggle"
             services="{{ services }}" />
  </section>

  <section id="volume" class="layout panel {{ volume.isOpen ? '' : 'is-closed' }}">
    <div class="lo-center">
      {{#audio}}
      <input type="range"
             on-change="volume-slider-changed"
             min="0" max="100" value="{{volume}}" />
      {{/audio}}
    </div>
  </section>
</div><!-- #controls -->
{% endraw %}
</script>
