<script id="mastheadTmpl" data-ui-template type="text/ractive">
{% raw %}
<section id="masthead" class="layout panel masthead">
  <p class="lo-left">
    <a  class="power-button {{ isOn ? 'is-on' : 'is-off' }}"
        on-tap="power"
        href="/power"><i></i></a>
  </p>
  <p class="lo-center radiodan-logo">
    <span><img src="/assets/img/radiodan.svg" alt="Radiodan"/></span>
  </p>
  <p class="lo-right {{ isOn ? 'is-on' : 'is-off' }}">
    <a on-tap="settings-panel-requested"
       class="setup-btn">
       <span class="sb-inner">
        <i></i> setup
      </span>
    </a>
  </p>
</section>
{% endraw %}
</script>
