<script id="mastheadTmpl" data-ui-template type="text/ractive">
{% raw %}
<section id="masthead" class="layout panel masthead">
  <p class="lo-left">
    <button
        class="power-button {{ isOn ? 'is-on' : 'is-off' }}"
        on-tap="power"
        on-press="shutdown" press-time='3000'
        href="/power"><i></i></button>
  </p>
  <p class="lo-center radiodan-logo">
    <span><img src="/assets/img/radiodan.svg" alt="Radiodan"/></span>
  </p>
  <p class="lo-right {{ isOn ? 'is-on' : 'is-off' }}">
    <a on-tap="settings-panel-requested"
       class="setup-btn">
       <span class="sb-inner">
        <i></i> setup
      </span>
    </a>
  </p>
</section>
<dialog id="shutdown">
  <h2>Shutdown?</h2>
  <p>This will shutdown your radio.</p>
  <p>Are you sure?</p>

  <button
    on-tap="shutdown-cancel"
    class="pure-button button-cancel">Cancel</button>
  <button
    on-tap="shutdown-confirm"
    class="pure-button pure-button-primary button-confirm">Shutdown</button>
</dialog>
{% endraw %}
</script>
