<script id="playoutTmpl" data-ui-template type="text/ractive">
{% raw %}
<div class="lo-left current-panel">
  <a on-tap="services-panel-toggle"
     class="ct-btn">
    {{#current.logos.active}}
      <img class="ct-logo"
           src="{{current.logos.active}}" />
    {{/current.logos.active}}

    <span class="ct-indicator">
      {{ services.isOpen ? '⬇' : '⬆' }}
    </span>

    {{^current}}
      <span class="ct-title">No current station</span>
    {{/current}}
    {{#current}}
      <span class="ct-title">{{title}}</span>
    {{/current}}
  </a>
</div>

<div class="lo-right">
  <a class="volume-button"
     on-click="volume-panel-toggle">Radio Vol ({{ volume }}) <i title=""></i></a>
</div>
{% endraw %}
</script>
