<script id="servicesTmpl" data-ui-template type="text/ractive">
{% raw %}
<ul class="service-list">
{{#services}}
  <li on-tap="services-partial"
      class="service-item {{ activeServiceIds.indexOf(id) > -1 ? 'is-active' : '' }}">
    <a  href="/radio/service/{{ id }}">
      {{#if activeServiceIds.indexOf(id) > -1}}
        <img src="{{logos.active}}" alt="{{ title }}" />
      {{else}}
        <img src="{{logos.inactive}}" alt="{{ title }}" />
      {{/if}}
    </a>
  </li>
{{/services}}
</ul>
{% endraw %}
</script>
