<script id="standbyTmpl" data-ui-template type="text/ractive">
{% raw %}
  <div class="standby-panel">
    <div class="sb-hd">
      <h2>Radiodan in standby</h2>
      <p class="label-standby">Press the power button to turn on</p>
      <p class="label-shutdown">Hold the power button to shut down</p>
    </div>
    <div class="sb-bd">
      <div class="sb-cnt">
        <div>
        <i></i>
        <p>or press the radio power button</p>
        </div>
      </div>
    </div>
  </div>
{% endraw %}
</script>
