{
  "buttons": [
    {
      "id": "next",
      "pins": [
        {
          "pin": 2,
          "pull": "up"
        }
      ]
    },
    {
      "id": "magic",
      "pins": [3]
    },
    {
      "id": "power",
      "pins": [
        {
          "pin": 7,
          "pull": "down",
          "pressedIsHigh": true
        }
      ]
    }
  ],
  "rotaryEncoders": [
    {
      "id": "magic",
      "pins": [
        {
          "pin": 4,
          "pull": "up"
        },
        {
          "pin": 5,
          "pull": "up"
        }
      ]
    },
    {
      "id": "volume",
      "pins": [
        {
          "pin": 8,
          "pull": "up"
        },
        {
          "pin": 9,
          "pull": "up"
        }
      ]
    }
  ],
  "RGBLEDs": [
    {
      "id": "magic",
      "pins": [6,10,11],
      "colour": [0,0,255]
    },
    {
      "id": "power",
      "pins": [12,13,14],
      "colour": [255,0,0]
    }
  ]
}
