{
  "dataPath": "/tmp/.radiodan",
  "defaults": {
    "music": "/media/music",
    "outputFormat": "44100:16:1"
  },
  "players": [
    {
      "name": "Main",
      "id": "main"
    },
    {
      "name": "Avoider",
      "id": "avoider"
    },
    {
      "name": "Announcer",
      "id": "announcer",
      "music": "../audio"
    }
  ]
}
