{
  "dataPath": "/tmp/.radiodan",
  "defaults": {
    "music": "/media/music"
  },
  "players": [
    {
      "name": "Main",
      "id": "main"
    },
    {
      "name": "Avoider",
      "id": "avoider"
    },
    {
      "name": "Announcer",
      "id": "announcer",
      "music": "./audio"
    }
  ]
}
