/*
  Layout of panels
*/
#masthead {
  height: 50px;
}

#playout {
  height: 50px;
}

#volume {
  height: 50px;
}

#stations {
  overflow: hidden;
  height: 0;
}

/*
  Spot colour: rgba(37, 182, 224, 1);

*/
.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  display: inline-block;
  height: 3em;
  padding: 0.5em;
}

.service-item:hover {
  background-color: #eee;
}

.service-item.is-playing {
  background-color: rgba(37, 182, 224, 0.3);
}

.service-item img {
  display: inline-block;
  height: 3em;
}
